<div class="header">
  <!-- logo部分 -->
  <div class="logo">
    <img src="assets/images/logo.png" title="退出" alt="圖片丟啦...">
  </div>
  <!-- 標題 -->
  <span class="title">异常事件管理平台</span>
  <div class="home">
    <a href={{url}}>
      <img src="assets/images/home.svg" alt="">
    </a>
  </div>
  <!-- 搜索模塊 -->
  <!-- <div class="search">
    <span class="tip"></span>
    <input type="text" placeholder="請輸入關鍵字">
  </div> -->
  <!-- 維護 -->
  <!-- <div class="maintain" (click)="goToMaintain()">維護入口</div> -->
  <!-- 語言交換 -->
  <!-- <select name="" id="selected_search">
    <option value="">繁體中文</option>
    <option value="">简体中文</option>
  </select> -->
</div>